n8n/workflow/novel_gen_from_plot.json
{
  "name": "novel-gen-from-plot",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/files/plots/*_*.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -660,
        260
      ],
      "id": "6c88619d-47a8-4137-a1f5-0a57e31984b1",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        100,
        220
      ],
      "id": "63e34762-d287-4ea4-9d15-db500759c681",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "o532atUZyQ1tHPyO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -440,
        260
      ],
      "id": "624bc7f9-3fd4-4efa-b515-d67b38bf059d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/chapters/{{ $('Read/Write Files from Disk').item.json.fileName }}",
        "dataPropertyName": "data:{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        380,
        400
      ],
      "id": "7d141ab3-aac4-4cb0-a770-2855fd0776bf",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "=data:{ $json.text }}",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        80,
        400
      ],
      "id": "a7dbab72-4f80-4332-a2fb-2b7848301165",
      "name": "Convert to File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        260
      ],
      "id": "c2f083ec-47f2-40c1-96ea-5b1996b1a1ad",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -220,
        260
      ],
      "id": "37513a3e-90be-4527-afc4-903a31f8397f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "คุนเป็นนักเขียนนิยาย เรียบเรียงเนื้อหา โทน: โรแมนติก คงเนื้อหาเดิมไว้ และตั้งชื่อตอน \n\n##[ชื่อตอน]\n\n[เนื้อหา]"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        0,
        0
      ],
      "id": "8a6e0a8c-4680-4de0-830d-f7da7bdb8239",
      "name": "LLM Revise Chain",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Revise Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Revise Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Revise Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f177877-7f9f-46a2-9a92-e0a19adcf719",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c8eb350f67a3e20013b8b1f94901b9f05a22220551a5bf5b60e1e108f4978c6"
  },
  "id": "kUP2HQqN1ee3eRA1",
  "tags": []
}